@(meals: List[models.slick.Dish], scores: Map[Long, Double], mealForm: Form[String])

@import helper._

@main("All meals") {

    <h1>@meals.size meal(s)</h1>
    <table>
    @meals.map { meal =>
        <tr>
            <td>@meal.name</td>
            <td>@form(routes.Application.deleteDish(meal.id)) { <input type="SUBMIT" value="delete"> } </td>
            <td>@meal.likes liked</td>
            <td>@form(routes.Application.addLike(meal.id)) { <input type="SUBMIT" value="like"> }</td>
            <td>@form(routes.Application.evaluateDish(meal.id)) {
                <label>
                    <input type="radio" name="mark" value="1">
                </label> bad <br>
                <label>
                    <input type="radio" checked="true" name="mark" value="2">
                </label> fine <br>
                <label>
                    <input type="radio" name="mark" value="3">
                </label> perfect <br>
                <input type="submit" value="evaluation">
                }
            </td>
            <td>  @(scores.getOrElse(meal.id, 0d).formatted("%2.2f")) </td>
        </tr>
    }
    </table>

    <h2> Add a new meal </h2>
    @form(routes.Application.addDish()) {
        @inputText(mealForm("label"))
        <input type="submit" value="Create">
    }


}